#bookingForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

#bookingForm label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

#bookingForm input,
#bookingForm select {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#bookingForm button {
  background-color: #020202ff;
  color: #ffffff;
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.4s;
}
#bookingForm button:hover {
  background-color: #f4ce14;
  color: #000000;
}
#bookingForm .confirmation {
  margin-top: 1rem;
  color: green;
  font-weight: bold;
}