header {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    background-color: #495E57;
    color: #ffffffff;
    overflow: visible; /* Permite que los elementos se salgan del contenedor */
    position: relative; /* Establece contexto de posicionamiento */
}
header div, header div * {
    margin: 1rem;
    background-color: #495E57;
}

.header-container {
    width: 80%;
}

.restaurant-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-left: 2rem;
    position: relative;
    z-index: 10;
    margin-bottom: -5rem;
    box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.2);
}

.reserve-btn {
    background-color: #000000ff;
    color: #ffffffff;
    border: none;
    font-size: 1.2rem;
    padding: 1rem 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.4s;
    align-self: end;
    margin-top: 5rem;
}
.reserve-btn:hover {
    background-color: #F4CE14;
    color: #000000ff;
}

.ll-title {
    font-size: 3rem;
    margin-bottom: 0;
    color: #F4CE14;
}

.header-description {
    font-size: 1.2rem;
    max-width: 600px;
    line-height: 1.5;
    font-weight: bold;
}

.header-location {
    font-size: 2.0rem;
    margin-top: 0;
    color: #ffffffff;
}