nav {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: #333333;
    padding: 10px 1rem;
    border-radius: 5px;
    transition: background-color 0.4s;
}

nav a:hover {
    background-color: #495E57;
    color: #ffffff;
}

.logo {
    width: 12rem;
    margin-right: 7rem;
}
